<div class="compte-container">
  <h1>Liste des Comptes</h1>
  <table>
    <thead>
      <tr>
        <th>Type de Compte</th>
        <th>Solde Initial</th>
        <th>Date de Création</th>
        <th>Fermee</th>
        <th>ID Utilisateur</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compte of comptes">
        <td>{{ compte.type_compte }}</td>
        <td>{{ compte.solde_initial }}</td>
        <td>{{ compte.date_creation }}</td>
        <td>{{ compte.fermee }}</td>
        <td>{{ compte.user.idUser }}</td>
      </tr>
    </tbody>
  </table>
</div>
